---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who's writing all this stuff?"
>
	<p>
		Hi, I'm Jason, a software engineering manager based in Seattle, Washington. I enjoy solving
		challenging problems, helping my teammates grow, and building great products.
	</p>
	<p>
		I currently lead a team of talented engineers at
		<a href="https://www.automattic.com">Automattic</a>
		who are responsible for building and maintaining 
		<a href="https://jetpack.com/stats/">Jetpack Stats</a>, 
		our flagship analytics product for WordPress sites.
	</p>
	<p>
		When I'm not working, I enjoy spending time with my family, playing video games, and
		spending time outdoors. I'm a certified Wilderness First Responder and am currently
		planning my first ascent of Mount St. Helens this summer. I'm a first generation immigrant
		from South Korea and have called several places home, including Orange County, San Francisco,
		Denver, and now Seattle.
	</p>
</Layout>
