---
import BaseHead from '../components-2/base-head.astro';
import Header from '../components-2/header.astro';
import Footer from '../components-2/footer.astro';
import About from '../sections/about.astro';
// import Blog from '../sections/blog.astro';
// import Contact from '../sections/contact.astro';
import Welcome from '../sections/welcome.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Welcome />
			<About />
			<!-- <Blog /> -->
			<!-- <Contact /> -->
		</main>
		<Footer />
	</body>
</html>
<style>
	:root {
		--navbar-height: 64px;
		/* Colors: Base */
		--color-black: #000;
		--color-white: #fff;
		/* Colors: Primary */
		--color-navy: #1F2946;
		--color-cerulean: #016F86;
		--color-straw: #E4D27C;
		/* Colors: Secondary */
		--color-teal: #3B8F7B;
		--color-cream: #FFEECA;
		/* Colors: Accent */
		--color-mint: #B4D2B9;
		--color-red: #D81B19;
		--color-offwhite: #E6E8F0;
	}
</style>
