---
import { Icon } from 'astro-icon'
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Jason Moon. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
