---
import HeaderLink from './header-link.astro';
---

<header>
	<nav>
		<HeaderLink href="/#welcome">Home</HeaderLink>
		<HeaderLink href="/#about">About</HeaderLink>

		<img class="logo" src="../ellipse.svg" alt="Logo for the website."/>
		<HeaderLink class="disabled">Blog</HeaderLink>
		<HeaderLink class="disabled">Contact</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: flex;
		flex-flow: column;
		height: var(--navbar-height);
		justify-content: center;
		background-color: var(--color-navy);
		padding-left: 3em;
		padding-right: 3em;
		z-index: 1;
		font-size: 1.5em;

		@media screen and (max-width: 768px) {
      display: none;
    }
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header a {
		color: var(--color-white);
	}

	.logo {
		height: 2rem;
		width: 2rem;
	}

	.disabled {
		cursor: not-allowed;
	}
</style>
