---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon'
import glacierPortrait from '../assets/portrait-glacier.jpg';
---
<div class="section about" id="about">
  <div class="left">
    <Image class="portrait" src={glacierPortrait} alt="Portrait of Jason Moon in a glacier in New Zealand."/>
  </div>
  <div class="right">
    <h2>About Me</h2>
    <p>
      Hi, I'm Jason! Based in Seattle, Washington, I'm a software engineering manager with
      a passion for building and leading high-performing teams.
      
      With over a decade of experience in the software industry, I take immense pride in mentoring technical leaders and
      helping them excel and grow in their roles.
      
      I'm a strong advocate for building cohesive teams, underpinned by a culture that values diversity and inclusion.
    </p>
    <p>
      I currently lead multiple teams within the Jetpack business unit at
      <a href="https://www.automattic.com">Automattic</a>. We build and maintain a suite of products
      that help WordPress site owners build, grow, and protect their websites. Here are the products
      I'm currently responsible for:

      <ul>
        <li><a href="https://jetpack.com/ai/">Jetpack AI</a>: An AI-powered writing assistant</li>
        <li><a href="https://jetpack.com/boost/">Jetpack Boost</a>: An automatic website performance optimizer</li>
        <li><a href="https://jetpack.com/stats/">Jetpack Stats</a>: A fully-featured traffic analytics dashboard</li>
      </ul>

      We've been doing the remote work thing since 2005, so I've been fortunate to
      have a lot of experience working with distributed teams. We live and breathe open source,
      and I'm a firm supporter of open source software and its community.
    </p>
    <p>
      When I'm not working, I enjoy spending time with my fiance, playing video
      games, and spending time outdoors. I'm a certified Wilderness First Responder
      and have recently summitted Mount St. Helens for the first time this summer. I'm
      a first-generation Korean American and have called several places
      home, including Orange County, San Francisco, Denver, and now Seattle.
    </p>
    <div class="icons" title="Links">
			<a href="https://linkedin.com/in/jsnmoon" title="LinkedIn" target="_blank" rel="noopener">
				<Icon pack="simple-icons" name="linkedin" width={24} height={24}/>
			</a>
			<a href="https://github.com/jsnmoon" title="GitHub" target="_blank" rel="noopener">
				<Icon pack="simple-icons" name="github" width={24} height={24}/>
			</a>
		</div>
  </div>
</div>
<style>
  .section {
    min-height: 95vh;

    background-color: var(--color-offwhite);
    color: var(--color-navy);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 2em;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  h2 {
    font-size: 50px;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
  
  ul {
    margin: 0 0 1em 0;
  }

  .left {
    max-height: 100vh;
  }
  .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .right {
    display: flex;
    flex-flow: column;
    justify-content: center;

    @media screen and (max-width: 768px) {
      padding: 1em;
    }
  }

	.icons a {
    color: var(--color-navy);
		text-decoration: none;
		margin-right: 0.5em;
	}
	.icons a:focus, .icons a:hover {
		text-decoration: none;
	}
</style>