---
---

<div class="section welcome" id="welcome">
  <div class="text-block">
    <p>Welcome! <br class="mobile-only"/> You've landed on</p>
    <h1>Lunar <br class="mobile-only"/> Haus</h1>
  </div>
  <!-- TODO: Make moon scrollable -->
</div>
<style>
  .section {
    min-height: calc(90vh - var(--navbar-height));
    padding: 1em;
    background:
      var(--color-cerulean)
      url(../moon.png);
    background-blend-mode: soft-light;
    background-position-x: center;
    background-position-y: -400%;
    background-repeat: no-repeat;

    display: grid;
    place-items: center;
    text-align: center;
  }

  .mobile-only {
    display: none;

    @media screen and (max-width: 768px) {
      display: initial;
    }
  }
  .text-block {
    color: var(--color-cream);
    font-size: 50px;
    font-weight: lighter;

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }
  h1 {
    color: var(--color-white);
    font-size: 130px;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 60px;
    }
  }
</style>